.services {
    background-color: #f0f0f0;
    padding: 0 20px;
    width: 100%;
    margin-top: 20px;
}

.services .service-card-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 15px;
    margin-top: 15px;
    font-size: 12px;    
}

.services .service-more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 10px 0;
}

.services .more-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    text-align: center;
}