.important-links-right {
    width: 100%;
}

.important-links-right .item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    background: linear-gradient(45deg, #131b43, #242c54, #2aabd2);
    border: 1px solid white
}

.important-links-right .item:hover {
    border-right: 5px solid red;
}

.important-links-right .item .img-container {
    background-color: black;
    border-radius: 100px 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 0 2px 2px #909090;
}

.important-links-right .item .img-container img {
    width: 100%;
    padding: 2px;
    border-radius: 50px 0 0 50px;
}